body {
     background-color: #0fd7bc6a;
    background-image: url("blob:https://www.svgbackgrounds.com/5e8292f9-cf8a-49b7-861b-b0857d1b0919");
    background-attachment: fixed;
    background-size: cover; 

}